---
Language: Cpp
BasedOnStyle: LLVM
AccessModifierOffset: -4
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true
AlignTrailingComments: false
AlwaysBreakTemplateDeclarations: Yes
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakBeforeBraces: Custom
BreakConstructorInitializers: AfterColon
BreakConstructorInitializersBeforeComma: false
ColumnLimit: 190
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ContinuationIndentWidth: 8
DerivePointerAlignment: false
IncludeCategories:
  - Regex: '^<.*'
    Priority: 1
  - Regex: '^".*'
    Priority: 2
  - Regex: '.*'
    Priority: 3
IncludeIsMainRegex: '([-_](test|unittest))?$'
IndentCaseLabels: true
IndentExternBlock: Indent
IndentPPDirectives: BeforeHash
IndentWidth: 4
InsertNewlineAtEOF: true
# Treat the c_api try/catch macros as block delimiters so clang-format can
# balance braces around them.  Without this, void functions of the shape
# `try { ... GEMPBA_CATCH_VOID }` look unbalanced (the macro's closing `}`
# is invisible to clang-format) and the next function gets nested inside,
# pushing the whole file rightwards on each reformat pass.
MacroBlockBegin: 'GEMPBA_TRY'
MacroBlockEnd:   'GEMPBA_CATCH_VOID|GEMPBA_CATCH_RETURN_STATUS|GEMPBA_CATCH_RETURN_NULL'
MaxEmptyLinesToKeep: 2
NamespaceIndentation: All
PointerAlignment: Left
ReferenceAlignment: Pointer
SpaceAfterCStyleCast: true
SpaceAfterTemplateKeyword: false
SpaceBeforeRangeBasedForLoopColon: false
SpaceInEmptyParentheses: false
SpacesInAngles: false
SpacesInConditionalStatement: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
Standard: Latest
TabWidth: 4
...
