CMakeFiles
*.out
CMakeCache.txt
Makefile
cmake_install.cmake
.vscode
build
cmake-build-debug
cmake-build-debug-wsl
.cmake
.idea
global.cbp
Testing
output
results
test
external


# Allow
!external/CMakeLists.txt