CMakeFiles
bin/*
*.out
CMakeCache.txt
Makefile
cmake_install.cmake
.vscode
.vs
CMakeSettings.json
build
.build-debug
.build-release
build-with-coverage
cmake-build-debug
cmake-build-debug-wsl
.cmake
.idea
global.cbp
Testing
output
results
external


# Allow
!external/CMakeLists.txt